<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">

  <?define AboutUrl = "https://wlvpn.com" ?>
  <?define ProductDisplayName = "!(bind.packageName.Installer)" ?>
  <?define ProductFullVersion = "!(bind.packageVersion.Installer)" ?>
  <?define ProductAuthor = "!(bind.packageManufacturer.Installer)" ?>


  <Bundle
    Name="$(var.ProductDisplayName)"
    Manufacturer="$(var.ProductAuthor)"
    Version="$(var.ProductFullVersion)"
    AboutUrl="$(var.AboutUrl)"
    UpgradeCode="a8a8b550-273c-4058-b56b-063a55634eb0"
    IconSourceFile="..\..\Resources\Assets\brandIcon.ico">

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication
        LicenseFile="..\..\Resources\Assets\license.rtf"
        SuppressOptionsUI="yes"
        LogoFile="..\..\Resources\Assets\logo.png"/>
    </BootstrapperApplicationRef>

    <!--<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication
        LogoFile="..\..\Resources\setup-logo.png"
        SuppressOptionsUI="yes"
        LicenseUrl="https://wlvpn.com/eula/" />
    </BootstrapperApplicationRef>-->

    <Chain>
      <PackageGroupRef Id="NetFx461Web"/>
      <MsiPackage Id="Installer" SourceFile="..\Installer\bin\$(var.Configuration)\$(var.Installer.TargetFileName)"/>
    </Chain>
	</Bundle>
</Wix>
