<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <?include ../../Installer_Settings.wxi ?>
  
  <?define ProductFullVersion = "!(bind.packageVersion.Installer)" ?>
  
  <Bundle
    Name="$(var.ProductDisplayName)"
    Manufacturer="$(var.ProductAuthor)"
    Version="$(var.ProductFullVersion)"
    AboutUrl="$(var.AboutUrl)"
    UpgradeCode="$(var.BundleUpgradeCode)"
    IconSourceFile="..\..\Resources\Assets\AppIcon.ico">

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication
        LicenseFile="..\..\Resources\Assets\license.rtf"
        SuppressOptionsUI="yes"
        LogoFile="..\..\Resources\Assets\logo.png"/>
    </BootstrapperApplicationRef>

    <!--<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication
        LogoFile="..\..\Resources\setup-logo.png"
        SuppressOptionsUI="yes"
        LicenseUrl="https://wlvpn.com/eula/" />
    </BootstrapperApplicationRef>-->

    <Chain>
      <PackageGroupRef Id="NetFx462Web"/>
      <!--PackageGroupRef Id="NetFx472Redist"/-->
      <MsiPackage Id="Installer" SourceFile="..\Installer\bin\$(var.Configuration)\$(var.Installer.TargetFileName)"/>
    </Chain>
	</Bundle>
</Wix>
