<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WLVPN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
      <WLVPN.Properties.Settings>
        <setting name="CallSettingsUpgrade" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="Username" serializeAs="String">
          <value />
        </setting>
        <setting name="Password" serializeAs="String">
          <value />
        </setting>
        <setting name="ConnectionProtocol" serializeAs="String">
          <value>IKEv2</value>
        </setting>
        <setting name="OpenVpnProtocol" serializeAs="String">
          <value>UDP</value>
        </setting>
        <setting name="KillSwitch" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="SelectedCity" serializeAs="String">
          <value />
        </setting>
        <setting name="SelectedCountry" serializeAs="String">
          <value />
        </setting>
        <setting name="AutoReconnect" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="BlockLANTraffic" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Scramble" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="CloseStyle" serializeAs="String">
          <value>Dialog</value>
        </setting>
        <setting name="Culture" serializeAs="String">
          <value />
        </setting>
        <setting name="HideOnStartup" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="BetaOptIn" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="StartupType" serializeAs="String">
          <value>NOP</value>
        </setting>
        <setting name="ReconnectTries" serializeAs="String">
          <value>5</value>
        </setting>
        <setting name="EnableSpeech" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="EnableShortcuts" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="CipherType" serializeAs="String">
          <value>AES_256_CBC</value>
        </setting>
      </WLVPN.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive" publicKeyToken="94bc3704cddfc263" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
