<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VpnSDK.WLVpn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Linq" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <VpnSDK.WLVpn.Properties.Settings>
      <setting name="ConnectOnStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastSelectedServer" serializeAs="String">
        <value />
      </setting>
      <setting name="ReconnectOnDisconnect" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="KillSwitch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HideApplicationOnStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CallUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="CloseButtonHidesApplication" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowHideNotification" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AccessExpiry" serializeAs="String">
        <value />
      </setting>
      <setting name="OpenVpnPort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NetworkConnectionType" serializeAs="String">
        <value>L2TP</value>
      </setting>
      <setting name="NetworkProtocolType" serializeAs="String">
        <value>TCP</value>
      </setting>
      <setting name="OpenVpnScramble" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CipherType" serializeAs="String">
        <value>AES_256_CBC</value>
      </setting>
      <setting name="ShowCloseNotification" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AUTHORIZATION_TOKEN" serializeAs="String">
        <value></value>
      </setting>
      <setting name="API_KEY" serializeAs="String">
        <value></value>
      </setting>
      <setting name="APPLICATION_NAME" serializeAs="String">
        <value>ConsumerVPN</value>
      </setting>
    </VpnSDK.WLVpn.Properties.Settings>
  </userSettings>
</configuration>
